$color-white: #fff;
$color-black: #222222;

$color-black: rgb(0, 9, 17);
$color-grey: rgb(187, 189, 192);
$color-blue: rgb(0, 84, 150);
$color-orange: rgb(245, 130, 31);
$color-yellow: rgb(255, 203, 4);
$color-green: rgb(157, 166, 25);
$color-pink: rgb(240, 144, 172);
$color-purple: rgb(135, 50, 140);
$color-turquoise: rgb(109, 207, 246);
$color-brown: rgb(183, 110, 16);
$color-red: rgb(235, 0, 67);

$font-body: 'Oxygen', sans-serif;