<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Markdown Chat</title>
  <meta name="description" content="An HTML5 chat based on Angular.js, firebase.io and PhoneGap">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <link rel="icon" type="image/png" href="/favicon.png">

  <!-- build:css({.tmp,source}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>


<!-- Wrapper layout for global side menu -->
<div class="off-canvas-wrap chat-page" data-offcanvas ng-app="chatApp" ng-controller="ChatCtrl" ng-cloak>
  <div class="inner-wrap">
    <!-- Top navigation -->
    <nav class="tab-bar">
      <section class="left-small" ng-show="isLoggedIn">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Markdown Chat</h1>
      </section>
    </nav>

    <!-- Side menu -->
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Settings</label></li>
        <li><a href="#" ng-click="logout()">Logout</a></li>
        <li><a href="#">Change profile</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <ul class="off-canvas-list user-list">
        <li><label>User list</label></li>
        <li class="user status-{{user.presence}}" ng-repeat="(userName, user) in chat.users">
          <a href="#">
            <div class="user-image">
              <img src="http://s.gravatar.com/avatar/bc63564d29408acdb01fa09ea11797ac?s=40" />
            </div>
            <span class="user-name">{{ user.userName }}</span>
          </a>
        </li>
      </ul>
    </aside>

    <!-- Main application -->
    <section class="main-section">
      <form name="loginForm">
        <section class="section-login" ng-hide="isLoggedIn">
          <article class="module-login">
            <header>
              <h3>Get me into the chat</h3>
            </header>
            <div class="content login-controls">
              <label>User name
                <input name="userName" type="text" placeholder="Enter your desired user name" required
                       ng-class="{error: loginForm.userName.$dirty && !loginForm.userName.$valid}"
                       ng-model="credentials.userName" ng-minlength="3">
              </label>
              <p class="alert-box alert" ng-show="loginForm.userName.$dirty && !loginForm.userName.$valid">
                Please enter a valid username with a minimum length of 3 characters.
              </p>
              <label>Email address
                <input name="email" type="email" placeholder="No spam. Promised!" required
                       ng-class="{error: loginForm.email.$dirty && !loginForm.email.$valid}" ng-model="credentials.email">
              </label>
              <p class="alert-box alert" ng-show="loginForm.email.$dirty && !loginForm.email.$valid">
                Please enter a valid email address.
              </p>
              <button class="button" ng-click="login()" ng-disabled="!loginForm.$valid">Login</button>
            </div>
          </article>
        </section>
      </form>

      <section class="section-intro" ng-hide="isLoggedIn">
        <article class="module-intro">
          <header>
            <h3>Welcome to markdown chat</h3>
          </header>
          <div class="content">
            <p>Just enter your email address and your user name and then start chatting. Use markdown syntax to post your chat messages. If you like to change your user profile image you can do so using <a href="https://www.gravatar.com" target="_blank">Gravatar</a>.</p>
          </div>
        </article>
      </section>

      <section class="section-chat" ng-show="isLoggedIn">
        <section class="module-send-message">
          <header>
            <h2>Send message</h2>
          </header>
          <div class="content">
            <textarea placeholder="Write your message..." ng-model="messageText"></textarea>
            <button class="button" ng-click="sendMessage()">Send</button>
          </div>
        </section>

        <section class="module-messages">
          <header>
            <h2>Messages</h2>
          </header>
          <div class="content">
            <article class="message" ng-repeat="message in chat.messages | reverse">
              <div class="user-image">
                <img src="http://s.gravatar.com/avatar/2fda6c85ea083c45727c6131be71accf?s=80" />
              </div>
              <div class="message-content">
                <div class="message-user">{{ message.user.userName }}</div>
                <time class="message-time" datetime="{{ message.time }}">{{ message.time | fromNow }}</time>
                <p class="message-text">{{ message.text }}</p>
              </div>
            </article>
          </div>
        </section>
      </section>
    </section>

    <a class="exit-off-canvas"></a>

  </div>
</div>



<!--[if lt IE 9]>
<!-- build:js(source) scripts/oldie.js -->
<script src="/bower_components/es5-shim/es5-shim.js"></script>
<script src="/bower_components/json3/lib/json3.min.js"></script>
<!-- endbuild -->
<![endif]-->

<!-- build:js(source/bower_components) scripts/vendor.js -->
<script src="../bower_components/marked/lib/marked.js"></script>
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js(source) scripts/scripts.js -->
<script src="/scripts/main.js"></script>
<script src="/scripts/app.js"></script>
<!-- endbuild -->
</body>
</html>
